<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
{#    <link rel="stylesheet" href="/static/css/bootstrap.css">#}
{#    <link rel="script" href="/static/js/bootstrap.js">#}
    <link rel="stylesheet" href="/static/css/layui.css">
    {% block header %}

    {% endblock %}
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <div class="jumbotron nav">
        <div class="text-center">
            {% block title %}

            {% endblock %}
        </div>
    </div>
    {% block content %}

    {% endblock %}
</body>
<script src="/static/js/jQuery.js" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous">
    </script>
<script src="/static/js/layui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

{% block js %}

{% endblock %}

</html>