{% extends '_base.html' %}

{% block header %}

<title>wait</title>

{% endblock %}

{% block title %}
Wait Doctor
{% endblock %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <ul class="site-doc-icon site-doc-anim">
            <li>
                <div class="layui-anim" data-anim="layui-anim-rotate layui-anim-loop">wait</div>
                <div style="text-align: center;">number of patients in line ahead: 2</div> 
            </li>
        </ul>
    </div>
    <div class="col-md-4"></div>
</div>

{% endblock %}

{% block js %}
<script>
    layui.use([], function () {
        var $ = layui.jquery;
        //演示动画开始
        $('.site-doc-icon .layui-anim').on('click', function () {
            var othis = $(this), anim = othis.data('anim');

            //停止循环
            if (othis.hasClass('layui-anim-loop')) {
                
                return othis.removeClass(anim);
            }
            othis.removeClass(anim);
            setTimeout(function () {
                othis.addClass(anim);
            });
            //恢复渐隐
            if (anim === 'layui-anim-fadeout') {
                setTimeout(function () {
                    othis.removeClass(anim);
                }, 1300);
            }
        });
        //演示动画结束
    })
</script>
{% endblock %}